@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-align-center {
    scroll-snap-align: center;
}

@keyframes animate {
    100% {
        transform: translateY(20px);
    }
}

.hero-animate {
    animation: animate 2s infinite ease alternate;
}

.text-stroke {
    -webkit-text-stroke: 1px white;
}

@keyframes moveText {
    to {
        width: 100%;
    }
}

.animate-moveText:hover::after {
    animation: moveText 0.5s linear both;
}